<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KOUD//TEST Emulation controller</title>
    <style>
        body { font-family: “Helvetica”, “Arial”, sans-serif; }
        p { font-size: 1.2em; }
    </style>
	</head>
	<body>
		<!-- Nykyinen netem api pyörii GETeillä ja httprouterin päällä. POST toteutus myöhemmin net/http ja templateilla.  -->
		<div style="width: 30%">
			<p>Select emulation type</p>
			<div>
				<input id="reset" type="button" value="Reset emulation" onclick="location.href='/api/reset';" />
				<input id="swap" type="button" value="Switch interfaces" onclick="location.href='/api/swap';" style="float: right;" />
			</div>
			<br>
			<hr>
			<div>
				<input id="gprs" type="button" value="Bad GPRS (2G)" onclick="location.href='/api/b2g';" />
				<input id="hsdpa" type="button" value="Bad HSDPA (3G)" onclick="location.href='/api/b3g';" style="float: right;" />
			</div>
			<br>
			<div>
				<input id="gprs" type="button" value="GPRS (2G)" onclick="location.href='/api/2g';" />
				<input id="hsdpa" type="button" value="HSDPA (3G)" onclick="location.href='/api/3g';" style="float: right;" />
			</div>
			<br>
			<div>
				<input id="wifi" type="button" value="Good wifi" onclick="location.href='/api/wifi';" />
				<input id="dsl" type="button" value="Bad adsl" onclick="location.href='/api/dsl';" style="float: right;" />
			</div>
			<br>
			<div>
				<input id="broken" type="button" value="Brokenaf" onclick="location.href='/api/broken';" />
				<input id="sat" type="button" value="Satellite" onclick="location.href='/api/sat';" style="float: right;" />
			</div>
			<!--
			</div>
			<div>
				<br>
				<p>Execute custom netem command</p>
				<form action="/api" method="post">
					<input name="A" type="text"/> <input type="button" name="exec" value="Execute">
				</form>
				<br>
					<div id="OUTPUT">
						?????
						{{range .Stuff}}
						<div>
							>>> {{.A}}
						</div>
						{{end}}
					</div>
			</div>
			<div>
				<p>Test actions</p>
				<input id="reset" type="button" value="testreset" onclick="location.href='/api/reset';" />
			</div>
		-->
	</body>
</html>
